<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" rel="stylesheet">

<div class= "title">
  <h1>Stupid Coaching</h1>
</div>
<div class ="question">
  <p><%= @user_input %>-You</p>
</div>
<div class ="answer">
  <p><%= @coach %>-Your coach</p>
</div>
<div class= "link">
  <a><%= link_to "Ask a new question", "/ask" %></a>
</div>

